code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background: url("https://res.cloudinary.com/djzhu5kfj/image/upload/v1634251848/Flatiron%20-%20Final%20Project/fantasy-room-magical-library-castle-sunlight-fantasy-8949_onvayr.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* GRIMOIRES */
.grimoire-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-template-rows: auto 1fr auto;
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.grimoire-cover {
  width:  300px;
  height: 300px;
  border-radius: 25px;
  transition: 0.3s;
  animation: ease-in;
}

.grimoire-cover:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px 0px;
}

/* MASTER GRIMOIRE */
#master-grimoire {
  background: url("https://res.cloudinary.com/djzhu5kfj/image/upload/v1634251865/Flatiron%20-%20Final%20Project/Mystra_Grimoire_plnagw.jpg");
  width: 50%;
  border-radius: 25px;
  transition: 0.3s;
  animation: ease-in;
}

#master-grimoire:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px 0px;
}

.container {
  position: relative;
  text-align: center;
}

.centered {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(218, 196, 0)
}