code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* body {
  background: url("https://res.cloudinary.com/djzhu5kfj/video/upload/v1634615538/Flatiron%20-%20Final%20Project/Background_g6wkqp.mp4") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

#videoBackground {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.homeIntro {
  font-weight: bolder;
  color: rgb(0, 162, 255);
  font-size: 30px;
  margin-top: 15%;
}

.whatDo{
  color: rgb(0, 162, 255);
  font-size: 20px;
  margin-top: 10%;
}

/* GRIMOIRES */
.grimoire-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-template-rows: auto 1fr auto;
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.grimoire-cover {
  width:  300px;
  height: 300px;
  border-radius: 25px;
  transition: 0.3s;
  animation: ease-in;
}

.grimoire-cover:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px 0px;
}


/* MASTER GRIMOIRE */
#master-grimoire {
  width: 50%;
  border-radius: 25px;
  transition: 0.3s;
  animation: ease-in;
}

#master-grimoire:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px 0px;
}

.container {
  position: relative;
  text-align: center;
}

.centered {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(218, 196, 0)
}


/* OPEN GRIMOIRE/GRIMOIRE DETAILS */

.openGrimoire {
  /* background: url(https://res.cloudinary.com/djzhu5kfj/image/upload/v1634620193/Flatiron%20-%20Final%20Project/Open_Grimoire_Edit_gty2rc.png);
  background-size: cover;
  background-repeat: no-repeat;
  color:rgb(0, 0, 0); */
}


/* SPELLCARDS */
.spellCards {
  width: 30%;
  overflow: hidden;
  box-shadow: 0px 0px 15px -5px;
  margin: auto;
  background: rgba(156, 143, 27, 0.555);
  color: rgb(0, 0, 0);
}


/* SPELLPAGES */
.paired {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pair {
  width: 25%;
  overflow: hidden;
}

.categoryPaired {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.categoryPair {
  
}

.blankBook {
  width: 80%;
}

.spellPage {
  position: relative;
  color: rgb(0, 0, 0);
}

.rightPage {
  position: absolute;
  top: 12%;
  left: 32%;
}

.spellText{
  width: 40%;
  margin-left:  auto;
  margin-right: auto;
}

















/* .searchPaired {
  width: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchPair {
  width: 100px;
  overflow: hidden;
  margin: auto;
} */



/* PAGINATION */

/* .paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid rgb(255, 230, 0);
  color: rgb(255, 230, 0);
  cursor: pointer;
}

.paginationBttns a:hover {
  color: rgb(32, 114, 0);
  background-color: rgb(255, 230, 0);
}

.paginationActive a {
  color: rgb(32, 114, 0);
  background-color: rgb(255, 230, 0);
} */