table {
    border-collapse: collapse;
    width: 30%;
    margin: auto;
  }
  
  th {
    border: 3px solid #916f00;
  }

  th, td {
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even) {background-color: #916f00;}

  table tr:hover {
      background-color: rgb(0, 87, 12);
  }